<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You're In!!</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/site.css"
    />
  </head>

  <body>
    <div class="navbar">
      <a href="{{ url_for('base2') }}" class="navbar-brand">Home</a>
      <a href="{{url_for('logout')}}" class="navbar-brand-right">logout</a>
      <!-- <a href="{{url_for('darkmode')}}" class="navbar-brand-right">Darkmode</a> -->
      <div class="dropdown">
        <button class="dropbtn" type="button">Program</button>
        <div class="dropdown-content">
          <a href="/templates/trithingys.html">Triangle Formulas</a>
          <a href="/templates/Conversions_login.html">Conversions</a>
          <a href="/templates/program.html">Science/Math Formulas</a>
        </div>
      </div>
    </div>

    <div class="body-content">
      {% block content %}
      <h1>You're In!!</h1>
      <h2>Now that you're in you can access the whole program!!</h2>
      <p>
        If you have any questions please contact me or follow this
        <a href="{{url_for('Documentation')}}">Documentation</a>.
      </p>
      <a href="{{url_for('logout')}}">logout</a>
      <hr />
      <footer>
        <p>To contact me write an email to:</p>
        <a href="mailto:riboldi.program@gmail.com">
          Riboldi.Program@gmail.com</a
        >
        <br />
        <a href="{{url_for('DISCLAMERLoged')}}" id="Dis">DISCLAMER</a>
      </footer>
    </div>
  </body>
</html> 
