<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/site.css"
  />
  <title>Disclamer page</title>
</head>
<h1>{% block title %} DISCLAMER {% endblock%}</h1>
<h4>
  I DO NOT MAKE MYSELF RESPONSABLE FOR ANY TROUBLE YOU GET IN WHILE/BECAUSE OF
  USING Science-Calc.com
</h4>
<h4>
  IF COUGHT USING THE WEBSITE WHILE IN EXAM(OR ANY RELATED OCATIONS) YOUR
  MEMBERSHIP WILL BE REVOKED
</h4>
<h4>
  Please Note this website was developed for a laptop or tablet sized screen.<br />
  The Website may not look as intended when used in a Phone or small screen.
  <br />
  I am working on fixing this.
</h4>
</html>