<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} Membership Page{% endblock %}</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/site.css"
  />
</head>

<body>
  <h1 class="Membership-page-tittle">Membership page</h1>
  <div class="membership-page" id="free">
    <h1 class="Membership-page-text">Free</h1>
    <p class="Membership-page-text">
      With the free membership you can only get the
      <a href="/templates/Conversions.html" class="Program-link">conventions</a>
      program.
    </p>
    <h2 class="Membership-page-text">Price</h2>
    <h3 class="Membership-page-text">Free!</h3>
  </div>
  <!-- <div class="membership-page">
    <h1 class="Membership-page-text">Limited Access</h1>
    <p class="Membership-page-text">
      With the limited access plan you can get access to the following:
    </p>
    <p class="Membership-page-text-list">• Some Science Calc Programs</p>
    <p class="Membership-page-text-list">• Some Tools Programs</p>
    <h2 class="Membership-page-text">Price</h2>
    <h3 class="Membership-page-text">5.99$/Year</h3>
  </div> -->
  <div class="membership-page">
    <h1 class="Membership-page-text">Premium Access</h1>
    <p class="Membership-page-text">
      with this you can get access to everything!
    </p>
    <h2 class="Membership-page-text">Price</h2>
    <h3 class="Membership-page-text">9.99$/year</h3>
  </div>

  <div id="explanations">
    <h1 class="Membership-page-h2_tittles" id="top">Free Membership</h1>
    <p class="Membership-page-normal_text">
      This is the default membership you get. When you start paying for a more
      advanced membership you get all the features of the free membership plus
      all the features of the more advanced membership.
    </p>
    <h1 class="Membership-page-h2_tittles">Limited Access</h1>
    <p class="Membership-page-normal_text">
      With Limited Access you can use the following programs: <br />
      • Quadratic functions program (only vertex) <br />
      • Some "Tools" programs (to be decided) <br />
      This is best for people that don't need all the other stuff.
    </p>
    <h1 class="Membership-page-h2_tittles">Premium Access</h1>
    <p class="Membership-page-normal_text">
      Premium Access lets you access everything, from the conventions programs
      to the tools and science-calc programs!
    </p>
  </div>
</body>
</html>