<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/site.css"
  />
  <title>Register Page</title>
  <script src="/site.js"></script>
</head>
<body>
  <div class="navbar">
    <a href="/templates/Home.html" class="navbar-brand">Home</a>
    <a href="/templates/register.html" class="navbar-brand-right-base" id="singup-nav">Sing Up!</a>
    <a href="/templates/login.html" class="navbar-brand-right-base">Log In</a>
    <a href="/templates/Conversions.html" class="navbar-brand">Conversions</a>
    <a href="/templates/Membership.html" class="navbar-brand">Membership</a>
  </div>
  <h1>Register Page</h1>
  <form action="" method="post">
    <form action="" method="post">
      <p>Name</p>
      <input type="text"
      placeholder="Username"
      name="Name"
      id="Name-register"
      required
      >
      <p>Email</p>
      <input type="text" 
      placeholder="Email" 
      name="email" 
      id="Email-Register"
      >
      <p>Username</p>
      <input type="text"
      placeholder="Username"
      name="Username"
      id="Username-register"
      required
      >
      <p>Password</p>
      <input 
      type="password" 
      placeholder="Password"
      name="Password"
      id="Password-register"
      required
      >
      <input type="button" value="Enter" id="btn-register-1" name="btn-register-1" required>
    </form>
  </form>

  <a href="/templates/login.html">Already have an acount? log in!</a>
</body>

</html>
